apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: poc-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: python:3.11-slim
        command: ["python","-m","http.server","8000"]
        ports:
        - containerPort: 8000
